*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    background: #252525;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
  }
  
  #wrapper {
    padding-top: 10%;
  }
  
  .viewport {
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.8, 0.8);
  }
  
  .cube {
    position: relative;
    margin: 0 auto;
    height: 300px; /* Change to make it bigger */
    width: 300px; /* Change to make it bigger */
    transform-style: preserve-3d;
    transform: rotateX(136deg) rotateY(1122deg);
  }
  
  .cube > div {
    overflow: hidden;
    position: absolute;
    opacity: 0.95;
    height: 300px; /* Change to make it bigger */
    width: 300px; /* Change to make it bigger */
    background-color: #9b3244;
    
  }
  
  .cube > div {
    width: 300px; /* Change to make it bigger */
    height: 300px; /* Change to make it bigger */
    line-height: 300px; /* Change to make it bigger */
    margin: auto;
  }
  
  .cube > div:hover {
    cursor: pointer;
  }
  
  .cube > div:active {
    cursor: pointer;
  }
  
  .cube > div:first-child {
    transform: rotateX(90deg) translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  .cube > div:nth-child(2) {
    transform: translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  .cube > div:nth-child(3) {
    transform: rotateY(90deg) translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  .cube > div:nth-child(4) {
    transform: rotateY(180deg) translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  .cube > div:nth-child(5) {
    transform: rotateY(-90deg) translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  .cube > div:nth-child(6) {
    transform: rotateX(-90deg) rotate(180deg) translateZ(150px); /* Change to make it bigger */
    outline: 1px solid transparent;
  }
  
  @keyframes spin {
    from { transform: rotateY(0) rotateX(0); }
    to { transform: rotateY(360deg) rotateX(360deg); }
  }
  
  .cube {
    animation: spin 10s infinite linear;
  }